<html lang="en">

<header class="header" style="background-image: url(https://user-images.githubusercontent.com/70900247/227782780-f2aa0ca4-29b8-407f-a19d-21d019b261ba.jpeg);">    <div class="header-content">
        <h1 class="header-title">Drunkennes and Driving under the Influence: Are these things correlated?</h1>
        <p class="header-subtitle">Let us find out via data analysis ! </p>
    </div>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</header>


<body>

    <div class="Headline">
        <h2>First data, then comes the analysis.</h2>
        <hr>
    </div>

    <div class="body-content">
        <div class="body-text">
            <p>
                San Francisco is a city in California, with a population of 881,363 people 
                <a href="https://www.city-data.com/city/San-Francisco-California.html">[1]</a>
                that is 100% urbanized. First we needed to find a suitable dataset that, could was big enough and
                contained
                the information we needed to answer our questions.<br>

                <br> Many of us who have decided to buy our own property have thought about the type of life we want to
                lead.
                It is important to remember that the location of your home can affect your well-being and comfort.
                Living in the city
                can offer a lot of stores, cafes, and entertainment, but can also be met with noise and hustle and
                bustle.<br>
                <br>If you live in the city, you can explore nearby neighborhoods and areas, learn more about your
                neighbors, and look out for attractions.
                It can be helpful to know how often drunk driving incidents occur in the area if you live near a bar.
                For example,
                should you be particularly worried if you live near a bar in San Francisco? Is there an increased risk
                of encountering someone driving
                while intoxicated in areas where drunk driving reports have already increased?
                
        </div>

        <div class="body-image">
            <img src="{{ site.baseurl }}/assets/img/Districts.png" alt="Districts Image">
        </div>


    </div>




    <div class="bread-text">

        <h3>Searching for facts to answer these questions, We found a dataset on crime in San Francisco.</h3>
        <hr>
        <br>Using a dataset provided by the San Francisco Police Department (SFPD) containing information on various
        types of crimes in San Francisco from 2003 to 2017, we can conduct an analysis to identify a possible link
        between neighborhoods with high rates of drunk driving and the number of drunk driving arrests.<br>

        <br>The data set provided by the SFPD includes information on location, time and type of crime, as well as other
        details. This data can help us better understand crime statistics in San Francisco and identify trends.<br>

        <br>Using the data, we can identify the most problematic areas where binge drinking rates are high and where
        there may be an increased risk to traffic safety. This analysis will allow us to identify potential risks to the
        public. It is important to note that the data set does not fully cover all crimes reported in San Francisco.
        Nonetheless, it provides valuable information that can help us better understand crime in the city.<br>

        <br>Overall, using the SFPD dataset to analyze crime in San Francisco can be useful in improving citizen safety
        and developing effective crime control strategies.<br>

        The dataset covers a wide variety of reported crimes between 2003 and 2017 in the San Francisco area.
        While the entire police reports are not available to the public, this data includes things such at location,
        time, and type of crime, allowing us to dig into the statistics of crime in San Francisco.</p>

        <p id="Chart 1">


            From the chart below, we can see there is a strong correlation between DUI incidents and drunkenness
            reports. Some of the reason for this could be that the risk of being involved in a DUI accident increases
            significantly with higher blood alcohol concentration (BAC) levels.<br>

            <br>Additionally, there is a correlation between alcohol consumption patterns and DUI incidents. For example,
            binge drinking is a risk factor for DUI, as it can lead to high BAC levels. However, the correlation between
            DUI incidents and drunkenness reports specifically may depend on various factors, such as the reporting
            methods and policies of the law enforcement agencies, the cultural norms around alcohol consumption in the
            area, and the availability of alternative modes of transportation. Therefore.<br>
        </p>

        <iframe src="{{ site.baseurl }}/assets/plot.html" width="100%" height="600"></iframe>


        <p id="chart 2">

        <h3> Which area in San Francisco has the highest number of DUI incidents and drunkenness reports?</h3>
        <hr>
        Looking at the map below, you can see that neighborhoods with high rates of drunk driving and drunk driving
        reports may also be associated with the presence of entertainment venues such as clubs and bars in those areas.
        In addition, some areas may be more prone to traffic violations than others, which may increase the risk of
        drunk driving accidents.<br>

        <br>Another factor that can affect the number of DUI incidents and drunkenness reports is the holiday season.
        For example, during the holidays, such as Christmas and New Year's Eve, the number of people drinking alcohol
        increases significantly, which can lead to an increase in DUI incidents and reports of binge drinking.

        <br>In addition, the presence of police patrols on the streets can have a significant impact on the number of
        DUI incidents and reports of binge drinking. In some areas where high-risk establishments are located,
        additional police patrols may be installed, which may reduce the likelihood of DUI incidents.<br>

        <br>Examining the map, you may also notice that some areas have higher population densities, which may
        contribute to more drunk driving incidents and reports of binge drinking. It should also be noted that the
        availability of public transportation in some areas may reduce drunk driving because people can use alternative
        modes of transportation to get home.<br>
        </p>
        <iframe src="{{ site.baseurl }}/assets/map.html" width="100%" height="600"></iframe>
        <p id="chart 3">

            Finally, we can see what hours of the day have the most drunk driving and intoxication reports. This shows
            that the hours between 10 p.m. and 2 a.m. have the highest number of DUI incidents and drunk driving
            reports. This may be due to the fact that people are more likely to consume alcohol during these hours and
            are therefore more likely to be involved in a DUI incident.

        </p>
        <iframe src="{{ site.baseurl }}/assets/bokeh.html" width="90%" height="600"></iframe>

        <p>
        <h3>References:</h3>
        <hr>
        <p><a href="https://www.city-data.com/city/San-Francisco-California.html">[1] San Francisco population</a></p>
        <p><a href="https://data.sfgov.org/Public-Safety/Police-Department-Incident-Reports-2018-to-Present/wg3w-h783">[2]
San Francisco Police Department (SFPD) data</a></p>
    </div>
</body>

<footer class="footer">
    <div class="footer-content">
        <a href="https://github.com/salim963/Assigment_2_data_ana"><img src="{{ site.baseurl }}/assets/img/Github.png"
                alt="GitHub Icon"></a>
        <p class="footer-text">This site has been created as part of the course Social data analysis and visualization
            (02806) offered by the Technical University of Denmark.</p>
    </div>
</footer>


</html>