<html lang="en">

<header class="header" style="background-image: url(https://risingnepaldaily.com/storage/media/15799/Untitled-3.gif);">
        <div class="header-content">
        <h1 class="header-title">What Can Data Tell Us About Fire Incidents in San Francisco?</h1>
        <p class="header-subtitle">Let us find out via data analysis !</p>
    </div>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/final-proj-style.css">

</header>


<body>
    <div class="deep-look">
        <h1>A deeper look into fire incidents in San Francisco</h1>
        <hr class="hr1">
    </div>

    <div class="Headline">
        <h1>Introduction:</h1>
    </div>



    <div class="body-content">
        <div class="body-text">
            <p class="p-text">
                Welcome to our article that delves
                into the world of fire incidents in San Francisco.
                Our publication provides insightful analysis, 
                detailed reports, and engaging visuals to help 
                readers understand the causes, impacts, and responses 
                to fires that occur in the city. We have gathered and
                analyzed data on fire incidents, fire safety, and the fire department's 
                response, to bring you an in-depth look at the challenges faced by the San
                Francisco Fire Department in its mission to keep the city safe. 
                Join us as we explore the history of fires in San Francisco,
                the people and communities affected by them, and the innovative
                approaches being taken to prevent and fight fires in this vibrant city.
                <br><br>
                San Francisco is a city in California, with a population of 881,363 people 
                <a href="https://www.city-data.com/city/San-Francisco-California.html">[1]</a>
                that is 100% urbanized. First we needed to find a suitable dataset that, could was big enough and
                contained
                the information we needed to answer our questions.<br>
                <br> Many of us who have decided to buy our own property have thought about the type of life we want to
                lead.
                It is important to remember that the location of your home can affect your well-being and comfort.
                <br>
                <br>Fire incidents can have a significant impact on 
                people and communities, both in terms of their immediate
                safety and well-being, as well as their long-term quality of life.
                Depending on the severity and location of the fire, residents may 
                be displaced from their homes, lose their possessions, and suffer
                physical injuries or emotional trauma. In addition, the effects of 
                fire incidents can ripple out beyond the individuals directly affected
                , impacting the wider community in terms of property damage, disruptions 
                to transportation and services, and increased insurance premiums.
                <br>
                <br>By analyzing the Fire Incidents dataset for San Francisco,
                we can gain valuable insights into the patterns and trends that exist 
                in terms of fire incidents across different neighborhoods and over time. 
                This analysis can help us develop data-driven solutions to reduce the incidence 
                of fires and minimize their impact on the community.
            </p>
        </div>
        <div class="body-image">
            <img src="https://sacavoyage.fr/wp-content/uploads/SAN-FRANCISCO-downtown.jpg">
        </div>
        

    </div>


    <hr class="hr1">




        <div class="bread-text2">
            <h2>Searching for facts to answer these questions, We found a dataset on fire incident in San Francisco.</h2>
    
            <p class="p-text">
            <br>Fire departments are an essential service in every community,
            tasked with responding to various emergency situations, including fires,
            medical emergencies, and natural disasters. The role of the fire department
            is to protect life and property by mitigating and preventing the effects of
            fires and other hazards.<br> In San Francisco, the fire department responds to
            thousands of emergency calls every year, ranging from minor incidents to major
            fires and disasters.<br>
    
            To gain insights into these incidents and how they
            are distributed throughout the city, we analyzed a comprehensive
            dataset of Fire Incidents in San Francisco.<br><br> One of the most critical 
            pieces of information we found was the primary call situation for 911,
            which provides a window into the most common emergencies that require 
            a response from the fire department.<br>
            We also examined the different types of call situations, such as fires, medical
            emergencies, and Alarms calls , and how they were distributed across various neighborhoods in the city.
            By mapping these incidents, we were able to identify hotspots in the city
            where emergencies were most frequent, and how each neighborhood's emergency response needs differed.
            </p>
        </div>
        <hr class="hr1">




    <div class="body-content">
        <div class="body-text22"> 
            <h3 style="text-align: center;">Fire battalions in San Francisco</h3>
            <p class="p-text22">
                Battalions are geographic regions within the San 
                Francisco Fire Department's coverage area. 
                Each Battalion have many fire stations is responsible
                for responding to emergency calls within its assigned area,
                and is made up of multiple fire stations and firefighting personnel.
                There are 10 Battalions in San Francisco, and they are identified
                by a unique code starting with the letter 'B',
                followed by a two-digit number.
                <br>
                <br>
                The plot shows the total number of calls for
                all 10 Battalions in San Francisco by year.
                From the chart, we can see that the number of calls
                has been increasing gradually over the years, 
                with the year 2022 having the highest number of calls.
                <br>
                <br>
                To get a closer look at the data, we can focus on the year 2022,
                which had the most calls. This finding is crucial for the fire
                department to allocate their resources effectively and be better 
                prepared to respond to emergencies. It could also indicate the need
                for additional education and awareness campaigns in the community 
                to prevent emergencies from occurring in the first place.
            </p>
        </div>
            <div class="image-div">
                <img  src="{{ site.baseurl }}/assets/img/Battalions.png" >
            </div>
    </div>
    <hr class="hr1">
    
        
    <div class="bread-text">
        <div class="bread-text2">
            <h3>Top 10 call situations in 2022</h3>
        <p class="Chart-1">
            To better understand the distribution of call situations in San Francisco,
            we have created a bokeh plot that displays the top 10 call situations that
            occurred in the city in 2022. The plot shows the number of incidents for
            each call situation and highlights the most frequent call situations,
            allowing us to identify which types of emergencies require the most
            attention from the fire department.
        <br>

        <br>
            The bokeh plot can provide insights into which call situations are most common
            in different neighborhoods, allowing the fire department to allocate their
            resources and plan their emergency response strategies more effectively.
            For example we can clearly see that the  plot shows that Alarm system activation
            is the most common call situation in most neighborhood, 
            it may indicate a need for the fire department to focus more resources
            on ensuring that alarms are functioning correctly and are not being falsely triggered.
            It may also suggest the need for education and awareness campaigns for residents and businesses
            to prevent false alarms and promote proper use of alarm systems. Additionally, 
            the fire department may consider analyzing the causes of false alarms and
                implementing measures to reduce their frequency.
        <br>
        </p>
        </div>
        <iframe src="{{ site.baseurl }}/assets/Plots_and_diagrams_for_final/bokeh_Situation_pr_neighborhood.html" class="bokeh"></iframe>

        <hr class="hr1">




        <p id="chart 2">

        <h3> Which area in San Francisco has the highest number of DUI incidents and drunkenness reports?</h3>
        Understanding the distribution of fire calls in San Francisco is crucial to ensuring the safety of its residents. To gain a deeper understanding of the fire call situation, we created a map that shows the distribution of four different types of fire calls in the city: Outside rubbish fire, False alarm/call, Cooking fire, and Building fire. These four types of calls were chosen as they are among the top 10 calls that SF Fire Department responds to.

The map is based on data collected during the month of December 2022. This decision was made to provide a clear and concise representation of the data while minimizing the amount of information to process.

The map shows all the fire stations in the city, and color-coded markers that represent the four types of fire calls. The different neighborhoods in San Francisco are also marked on the map. This allows us to visualize where each type of fire call is most common, and identify potential areas that need more attention in terms of fire prevention.

By analyzing the distribution of the different types of fire calls, this information can help us develop targeted strategies for fire prevention and emergency response, and ultimately make the city a safer place for all residents
        </p>
        </div>

        
        <iframe src="{{ site.baseurl }}/assets/map.html" width="100%" height="600"></iframe>
        <p id="chart 3">


        <p>
        <h3>References:</h3>
        <hr>
        <p><a href="https://www.city-data.com/city/San-Francisco-California.html">[1] San Francisco population</a></p>
        <p><a href="https://data.sfgov.org/Public-Safety/Police-Department-Incident-Reports-2018-to-Present/wg3w-h783">[2]
San Francisco Police Department (SFPD) data</a></p>

</body>

<footer class="footer">
    <div class="footer-content">
        <a href="https://github.com/salim963/Assigment_2_data_ana"><img src="{{ site.baseurl }}/assets/img/Github.png"
                alt="GitHub Icon"></a>
        <p class="footer-text">This site has been created as part of the course Social data analysis and visualization
            (02806) offered by the Technical University of Denmark.</p>
    </div>
</footer>


</html>