<html lang="en">

<nav>
    <ul>
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#motivation">Motivation</a></li>
        <li class="dropdown">
            <a>Plots & Charts</a>
            <div class="dropdown-content">
                <a href="#top-10-calls">Top 10 Call Situations in 2022</a>
                <a href="#distribution-calls">Distribution of Calls Situations in Different Neighborhoods</a>
                <a href="#busiest-fire-departments">When Are Fire Departments the Busiest?</a>
                <a href="#arrival-time">Average response time for each neighborhood in 2022</a>
            </div>
        </li>
        <li><a href="#conclusion">Conclusion</a></li>
        <li><a href="#explainer-notebook">Explainer Notebook</a></li>
    </ul>
</nav>

<header class="header" style="background-image: url(https://img.buzzfeed.com/buzzfeed-static/static/2020-09/9/15/asset/d5a34da150f9/sub-buzz-1904-1599665551-13.jpg?downsize=1600:*&output-format=auto&output-quality=auto);">
        <div class="header-content">
        <h1 class="header-title">What Can Data Tell Us About Fire Incidents in San Francisco?</h1>
        <p class="header-subtitle">Let us via data analysis take a deeper look into Alarm types, response time and other things from the neighborhoods of San Francisco</p>
    </div>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/final-proj-style.css">

</header>


<body>
<section id="introduction">
    <div class="body-content">
        <div>
        <h1>Introduction</h1>
            <p>
                Welcome to our article that delves
                into the world of fire incidents in San Francisco.
                Our publication provides insightful analysis, 
                detailed reports, and engaging visuals to help 
                readers understand the causes, impacts, and responses 
                to fires that occur in the city. We have gathered and
                analyzed data on fire incidents, fire safety, and the fire department's 
                response time, to bring you an in-depth look at the challenges faced by the San
                Francisco Fire Department in its mission to keep the city safe. 
                Join us as we explore the history of fires in San Francisco,
                the people and communities affected by them, and the innovative
                approaches being taken to prevent and fight fires in this vibrant city.
                <br><br>
                San Francisco is a city in California, with a population of 881,363 people 
                <a href="https://www.city-data.com/city/San-Francisco-California.html">[1]</a>
                that is 100% urbanized. First we needed to find a suitable dataset that, could was big enough and
                contained
                the information we needed to answer our questions.<br>
                <br> Many of us who have decided to buy our own property have thought about the type of life we want to
                lead.
                It is important to remember that the location of your home can affect your well-being and comfort.
                <br>
                <br>Fire incidents can have a significant impact on 
                people and communities, both in terms of their immediate
                safety and well-being, as well as their long-term quality of life.
                Depending on the severity and location of the fire, residents may 
                be displaced from their homes, lose their possessions, and suffer
                physical injuries or emotional trauma. In addition, the effects of 
                fire incidents can ripple out beyond the individuals directly affected
                , impacting the wider community in terms of property damage, disruptions 
                to transportation and services, and increased insurance premiums.
                <br>
                <br>By analyzing the Fire Incidents dataset for San Francisco,
                we can gain valuable insights into the patterns and trends that exist 
                in terms of fire incidents across different neighborhoods and over time. 
                This analysis can help us develop data-driven solutions to reduce the incidence 
                of fires and minimize their impact on the community.
            </p>
        </div>
        <div class="introduction_image">
            <img src="https://sacavoyage.fr/wp-content/uploads/SAN-FRANCISCO-downtown.jpg">
        </div>
    </div>
    </section>

    <section id="motivation">
        <div class="wrapper">
        <div class="body-content">
            <iframe class="youtube" src="https://www.youtube.com/embed/QZVr16J_4Nw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div>
            <h1>Motivation</h1>

            <h4>Searching for facts to answer these questions, We found a dataset on fire incident in San Francisco.</h4>
    
            <p>
            <br>Fire departments are an essential service in every community,
            tasked with responding to various emergency situations, including fires,
            medical emergencies, and natural disasters. The role of the fire department
            is to protect life and property by mitigating and preventing the effects of
            fires and other hazards.<br> In San Francisco, the fire department responds to
            thousands of emergency calls every year, ranging from minor incidents to major
            fires and disasters.<br>
    
            To gain insights into these incidents and how they
            are distributed throughout the city, we analyzed a comprehensive
            dataset of Fire Incidents in San Francisco.<br><br> One of the most critical 
            pieces of information we found was the primary call situation for 911,
            which provides a window into the most common emergencies that require 
            a response from the fire department.<br>
            We also examined the different types of call situations, such as fires, medical
            emergencies, and Alarms calls , and how they were distributed across various neighborhoods in the city.
            By mapping these incidents, we were able to identify hotspots in the city
            where emergencies were most frequent, and how each neighborhood's emergency response needs differed.

            </p>
            </div>
        </div>
        </div>
    </section>

<section id="fire-battalions">
    <div>
        <div class="body-content">
            <div>
                <h2>Fire battalions in San Francisco</h2>
            <p>

                Battalions are geographic regions within the San 
                Francisco Fire Department's coverage area. 
                Each Battalion have many fire stations is responsible
                for responding to emergency calls within its assigned area,
                and is made up of multiple fire stations and firefighting personnel.
                There are 10 Battalions in San Francisco, and they are identified
                by a unique code starting with the letter 'B',
                followed by a two-digit number.
                <br>
                <br>
                The plot shows the total number of calls for
                all 10 Battalions in San Francisco by year.
                From the chart, we can see that the number of calls
                has been increasing gradually over the years, 
                with the year 2022 having the highest number of calls.
                <br>
                <br>
                To get a closer look at the data, we can focus on the year 2022,
                which had the most calls. This finding is crucial for the fire
                department to allocate their resources effectively and be better 
                prepared to respond to emergencies. It could also indicate the need
                for additional education and awareness campaigns in the community 
                to prevent emergencies from occurring in the first place.
            </p>
        </div>

            <div>
                <img class="battalion_plot" src="{{ site.baseurl }}/assets/img/Battalions.png" >
            </div>
        </div>
    </div>
</section>

<section id="top-10-calls">
    <div class="wrapper">
        <div class="big_plots">
        <div>
            <h2>Top 10 call situations in 2022</h2>
        <p>
            To better understand the distribution of call situations in San Francisco,
            we have created a bokeh plot that displays the top 10 call situations that
            occurred in the city in 2022. The plot shows the number of incidents for
            each call situation and highlights the most frequent call situations,
            allowing us to identify which types of emergencies require the most
            attention from the fire department.
        <br>

        <br>
            The bokeh plot can provide insights into which call situations are most common
            in different neighborhoods, allowing the fire department to allocate their
            resources and plan their emergency response strategies more effectively.
            For example we can clearly see that the  plot shows that Alarm system activation
            is the most common call situation in most neighborhood, 
            it may indicate a need for the fire department to focus more resources
            on ensuring that alarms are functioning correctly and are not being falsely triggered.
            It may also suggest the need for education and awareness campaigns for residents and businesses
            to prevent false alarms and promote proper use of alarm systems. Additionally, 
            the fire department may consider analyzing the causes of false alarms and
                implementing measures to reduce their frequency.
        <br>
        </p>
        </div>
        <iframe src="{{ site.baseurl }}/assets/Plots_and_diagrams_for_final/bokeh_Situation_pr_neighborhood.html" class="bokeh"></iframe>
        </div>
    </div>
</section>

<section id="distribution-calls">
    <div class="big_plots">

        <h2> what about the distribution of calls situation in the different neighborhood?</h2>
        <p>
            Understanding the distribution of fire calls in San Francisco is crucial 
            to ensuring the safety of its residents.<br><br>
            To gain a deeper understanding of the fire call situation, we created a map that shows the distribution of 
            four different types of fire calls in the city:False alarm/call, Outside rubbish fire,
            Cooking fire, and Building fire.<br><br>
            I selected four different types of fire calls,
            to better understand the distribution of fire incidents across San Francisco neighborhoods.
            Three of these types are actual fire incidents, while one is a false alarm. Interestingly,
            despite being a false alarm, it had the highest count among.<br>
            The map is based on data collected during the month of December 2022. This decision was made to provide
            a clear and concise representation of the data while minimizing the amount of information to process.<br><br>
            The map shows all the fire stations in the city, and color-coded markers that represent the
            four types of fire calls. The different neighborhoods in San Francisco are also marked on the map. 
            This allows us to visualize where each type of fire call is most common, and identify potential areas
            that need more attention in terms of fire prevention.
            <br><br>
            By analyzing the distribution of the different types of fire calls,
            this information can help us develop targeted strategies for fire prevention and emergency response,
            and ultimately make the city a safer place for all residents.
            <br><br><br>
            By hovering over the map's different neighborhoods, their names will appear.
            Similarly, to the four different types of calls. 
            The green points on the map indicate the location of fire stations in the area,
            and clicking on them will bring up more information about the station.
        </p>
        <iframe class="map" src="{{ site.baseurl }}/assets/Plots_and_diagrams_for_final/Situation_map.html" width="90%" height="700"></iframe>
        <p id="chart 3">
    </div>
</section>

<section id="arrival-time">
<div class="wrapper">
    <div class="body-content">
        <div>
            <h2>Average arrival time for each neighborhood in 2022</h2>
            <p>
            In addition to identifying the most common types of fire
            calls in San Francisco, it's also important to consider
            how quickly the fire department is able to respond to these emergencies.<br><br>
            That's why we've created a plot that shows the average response time for
            four different types of calls in various neighborhoods throughout the city.
            <br><br>
            The four types of calls we're
            focusing on are Outside Rubbish Fire,
            False Alarm/Call, Cooking Fire, and 'Building Fire.
            By analyzing the response times for these calls,
            we can get a better understanding of how well-equipped
            the fire department is to handle different types of
            emergencies in different neighborhoods.
            <br><br>
            As expected, the average response times vary
            significantly depending on the type of call and the neighborhood in question. 
            For example, the average response time in 12/2022
            for Noe valley neighborhood is only 3 minutes and 25 seconds,
            whereas the average response time for  Golden Gate Park neighborhood is 6 minutes and 40 seconds.
            <br><br><br>
            But what does delay at response times means?
            <br><br>
            Average response times are an important metric for
            emergency services such as fire departments because
            they directly impact the outcomes of emergency incidents.
            In the case of fires, every minute of delay in response time
            can mean the difference between life and death, as well as significant property damage.
            <br><br>
            For example, a delay of just a few minutes can cause a small
            fire to grow into a large blaze, making it more difficult and
            dangerous for firefighters to contain. In addition, every minute spent
            responding to a false alarm or non-emergency incident is time taken away 
            from potentially life-saving emergencies.
            <br><br>
            By comparing the response times across different neighborhoods,
            we can identify areas where the fire department may need to allocate
            more resources or adjust their response strategies. Additionally,
            we can use this data to better understand the relationship between
            call type, neighborhood, and response time.
            <br><br>
            This plot works hand in hand with the map we previously created,
            which shows the distribution of these call types across different
            neighborhoods in San Francisco. By combining these two visualizations,
            we can gain a more comprehensive understanding of how the fire department
            is handling emergencies throughout the city.
            <br>
            For example we can conclude from the map and the plot the there
            is a need for fire station in Golden Gate Park especially at the
            corner for the border between Inner Richmond and Haight Ashbury.

            </p>
        </div>
            <div>
            <iframe class="plot-for-neighborhood"src="{{ site.baseurl }}/assets/Plots_and_diagrams_for_final/plot_for_neighborhood.html"></iframe>
            </div>
    </div>
</div>
</section>

<section id="busiest-fire-departments">
        <div class="body-content">
            <div>
                <h2>When Are Fire Departments the Busiest?</h2>
            <p>
                We have analyzed the hourly counts of fire incidents calls
                received by the fire department. <br>The data clearly shows that
                the majority of fire incidents occur during the day, with the 
                highest number of calls received between 9:00 to 21:00. Specifically,
                there is a peak in fire calls between 17:00 to 19:00, indicating that
                this is a particularly busy time for the fire department.<br><br>
                On the other hand, we can see that the lowest count of calls
                occurs between 3:00 to 6:00. This is likely due to the fact
                that people are sleeping during these hours, and there are
                fewer activities that could potentially cause fires.<br><br>
                Based on these observations, we can conclude that the fire department should focus their
                resources and efforts during the busiest hours of the day.<br><br>
                By doing so, they can better serve the community and ensure 
                that they are able to respond to emergency calls as quickly as possible.
            </p>
                </div>
            <div class="imagehourly">
                <img  src="{{ site.baseurl }}/assets/img/hourly-count.png" >
            </div>
        </div>
</section>

        <div class="wrapper">
            <div class="body-content">
                <section id="conclusion">
                <div class="conclusion">

                <h1>Conlcusion</h1>

                <p>
                    We have analyzed the hourly counts of fire incidents calls
                    received by the fire department. <br>The data clearly shows that
                    the majority of fire incidents occur during the day, with the
                    highest number of calls received between 9:00 to 21:00. Specifically,
                    there is a peak in fire calls between 17:00 to 19:00, indicating that
                    this is a particularly busy time for the fire department.<br><br>
                    On the other hand, we can see that the lowest count of calls
                    occurs between 3:00 to 6:00. This is likely due to the fact
                    that people are sleeping during these hours, and there are
                    fewer activities that could potentially cause fires.<br><br>
                    Based on these observations, we can conclude that the fire department should focus their
                    resources and efforts during the busiest hours of the day.<br><br>
                    By doing so, they can better serve the community and ensure
                    that they are able to respond to emergency calls as quickly as possible.
                </p>
                </div>
                </section>
                <section id="explainer-notebook">
                <div class="explainer">
                    <h1>Explainer Notebook</h1>

                    <p>
                    We provide the GitHub link to our explainer notebook for reference, which is accessible
                    <a href="https://github.com/Strongside-87/Final_Project/blob/master/explainer/explainer_notebook.ipynb" style="color: rgb(40, 101, 180)">here</a>
                    or <a href="https://github.com/salim963/Salim963.github.io/blob/main/Explainer_notebook_Fire_Incidents/explainer/explainer_notebook.ipynb" style="color: red">here</a>.
                    
                    </p>
                </div>
                </section>
            </div>
        </div>



</div>



</body>


    <footer class="footer">
    <div class="footer-content">
        <a href="https://github.com/salim963/Salim963.github.io/blob/main/Explainer_notebook_Fire_Incidents"><img src="{{ site.baseurl }}/assets/img/Github.png"
                alt="GitHub Icon"></a>
        <p class="footer-text">This site has been created as part of the course Social data analysis and visualization
            (02806) offered by the Technical University of Denmark.</p>
    </div>
    </footer>


</html>